<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>Prediction</title>
</head>

<body>
    <div class="container_form">
        <!-- <img src="../static/logo.jpg" alt="GreatLearning" class="logo" /> -->
        <h3>House Loan Eligibility Prediction</h3>
        <div class="form-group">
            Gender
            <select name="Gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
             
            </select>
        </div>
        <div class="form-group">
            Married
            <select name="Married">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
             
            </select>
        </div>
        <div class="form-group">
            Dependants
            <input type="text" name="dependants" placeholder="0" />

            </select>
        </div>
        <div class="form-group">
            Education
            <select name="Education">
              <option value="Graduate">Graduate</option>
              <option value="Post Graduate">Post Graduate</option>
              <option value="10th">10th</option>
              <option value="Intermediate">Intermediate</option>

             
            </select>
        </div>
        <div class="form-group">
            Self Employed
            <select name="Self Employed">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
             
            </select>
        </div>
        <div class="form-group">
            Applicant Income ($)
            <input type="text" name="Income" placeholder="0000" />

            </select>
        </div>
        <div class="form-group">
            Co-Applicant Income ($)
            <input type="text" name="co-Income" placeholder="0000" />

            </select>
        </div>
        <div class="form-group">
            Loan Amount in Thousands ($)
            <input type="text" name="amount" placeholder="0000" />

            </select>
        </div>
        <div class="form-group">
            Loan Amount Term (in months)
            <input type="text" name="term" placeholder="0" />

            </select>
        </div>
        <div class="form-group">
            Credit History
            <select name="Credit History">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
             
            </select>
        </div>
        <div class="form-group">
            Property Area
            <select name="area">
              <option value="Urban">Urban</option>
              <option value="Rural">Rural</option>
              <option value="Semi Urban">Semi Urban</option>

             
            </select>
        </div>
        <input type="submit" value="Submit" class="submit" />
        <input type="submit" value="Click here to logout" class="submit" />
        <!-- <div>
            <h2 class="message">messagenjfjdsfdfjsjfj</h2>
        </div> -->



    </div>

</body>

</html>