<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>Register</title>
</head>

<body>
    <div class="container">
        <img src="../static/logo.webp" alt="GreatLearning" class="logo" />
        <h3>Registration Page</h3>
        <input type="text" name="username" placeholder="Username" />
        <input type="text" name="password" placeholder="Password" />
        <form action="/register_user">
            <input type="submit" value="Register" class="submit" />
        </form>
    </div>

</body>

</html>